<template>
  <div>
    <div class="detail">
      <div class="description">
        <p class="paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi
          dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas,
          ut corporis incidunt deserunt quae architecto voluptate.
        </p>
        <p class="paragraph">
          Accusantium cumque, quas, ut corporis incidunt deserunt quae
          architecto voluptate delectus, inventore iure aliquid aliquam.
        </p>
        <ul class="list">
          <li class="list__item">
            Close to the beach
          </li>
          <li class="list__item">
            Breakfast included
          </li>
          <li class="list__item">
            Free airport shuttle
          </li>
          <li class="list__item">
            Free wifi in all roms
          </li>
          <li class="list__item">
            Air conditioning and heating
          </li>
          <li class="list__item">
            Pets allowed
          </li>
          <li class="list__item">
            We speak all lenguages
          </li>
          <li class="list__item">
            Perfetc for families
          </li>
        </ul>
        <div class="recommend">
          <p class="recommend__count">
            Lucy and three other friends recommend hotel
          </p>
          <div class="recommend__friends">
            <img
              src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="friends"
              class="recommend__photo"
            />
            <img
              src="https://images.pexels.com/photos/3722186/pexels-photo-3722186.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="friends 2"
              class="recommend__photo"
            />
            <img
              src="https://images.pexels.com/photos/842980/pexels-photo-842980.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="friends 3"
              class="recommend__photo"
            />
            <img  class="recommend__photo"
              src="https://images.pexels.com/photos/2287252/pexels-photo-2287252.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="friends 4"
             
            />
          </div>
        </div>
      </div>
       <user-review></user-review>
   
      
    </div>
  </div>
</template>
<script>
import UserReview from "@/components/details/UserReview.vue"


export default {
    components:{ UserReview,
    }
};
</script>

<style lang="scss" scoped>
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var (--color-grey-light-1);
  border-bottom: var(--line);
  font-size: 1.4rem;
}
.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  margin-right: 4rem;
  padding: 3rem;
  font-size: 1.4rem;
}
.user-reviews {
  background-color: yellowgreen;
  flex: 1;
}
///paragraph
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}












//list-style
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap:wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;

    }
    
  


}
.recommend{
        font-size: 1.3rem;
        color: var(--color-grey-light-3);
        display:flex;
        align-items:center;
      
     

        &__count {
            margin-right: auto;
            color: rgb(187, 173, 173);


        }

        &__friends{

        }

        &__photo {
    box-sizing: content-box;
       width:4rem;
       height:4rem;
       border-radius: 50%;
       border: 3px solid #fff;

       &:not(:last-child) {
           margin-right: -2em;
       }
        }
    }
</style>
