<template>
  <div>
    <div class="user-reviews">
        <figure class="review">
            <blockquote class="review__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quia
                ex. Lorem, ipsum dolor.
            </blockquote>
              <figcaption class="review__user">
                <img src="/image/user-1.jpg" alt="User 1" class="review__photo">
                <div class="review__user-box">
                    <p class="review__user-name">
                        Nick Smisth
                    </p>
                    <p class="review__user-date">
                        Feb 23rd, 2019
                    </p>

                </div>
                 <div class="review__rating">
                     7.8
                 </div>
                 
              </figcaption>
        </figure>
        <figure class="review">
            <blockquote class="review__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, quia
                ex. Lorem, ipsum dolor.
            </blockquote>
              <figcaption class="review__user">
                <img src="/image/user-2.jpg" alt="User 1" class="review__photo">
                <div class="review__user-box">
                    <p class="review__user-name">
                        Mary Thomas
                    </p>
                    <p class="review__user-date">
                        june 21rd, 2018
                    </p>

                </div>
                 <div class="review__rating">
                     8.0
                 </div>
                 
              </figcaption>
        </figure>
        <button class="btn-inline">Show all<span>&rarr;</span></button>
    </div>
   
      
  </div>
</template>

 <script>
 export default {
     data(){
        
     }
 }
 </script>
  
  <style lang="scss" scoped>
      .review {
          background-color:#fff;
          box-shadow: var(--shadow-light);
          padding:3rem;
          margin-bottom: 3rem;
          position: relative;
          overflow: hidden;
          

          &__text {
              margin-bottom: 2rem;
              z-index: 10;
              position:relative;

          }

          &__user {
              display:flex;
              align-items:center;

          }

          &__photo {
              height:4.5rem;
              width:4.5rem;
              border-radius: 50%;
              margin-right: 1.5rem;


          }

          &__user-box {
              margin-right: auto;
              

          }

          &__user-name {
              font: 1.1rem;
              font-weight: 600;
              text-transform: uppercase;
              margin-bottom: .4rem;
            
              



          }

          &__user-date {
              font-size: 1rem;
              color: vr(--color-grey-dark-3);

          }

          &__rating {
              color:var(--color-primary);
              font-size:1.8rem;


          }
          &::before {
              content: "\201C";
              position:absolute;
              top: -2.75rem;
              left: -1rem;
              font-size:20rem;
              line-height: 1;
              color: var(--color-grey-light-2);
              z-index: 1;



          }
          
      }
      .btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--colo-grey-dark-1);
  }
   &:focus {
    outline: none;
   
  }
    
      }
  
  </style>
