<template>
  <div>
    <div class="content">
      <nav class="sidebar">
        <ul class="side-nav">
          <li class="side-nav__item side-nav__item--active">
            <a href="#" class="side-nav__link">
              <svg
                class="side-nav__icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <title>home</title>
                <path
                  d="M18.672 11h-1.672v6c0 0.445-0.194 1-1 1h-4v-6h-4v6h-4c-0.806 0-1-0.555-1-1v-6h-1.672c-0.598 0-0.47-0.324-0.060-0.748l8.024-8.032c0.195-0.202 0.451-0.302 0.708-0.312 0.257 0.010 0.513 0.109 0.708 0.312l8.023 8.031c0.411 0.425 0.539 0.749-0.059 0.749z"
                ></path>
              </svg>
              <span>Hotel</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <svg
                class="side-nav__icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <title>aircraft-take-off</title>
                <path
                  d="M19.87 6.453c0.119 0.257 0.127 1.29-4.884 3.642l-4.913 2.306c-1.71 0.803-4.191 1.859-5.285 2.151-0.766 0.204-1.497-0.316-1.497-0.316s-2.206-1.975-2.792-2.419c-0.585-0.444-0.535-0.67 0.215-0.91 0.467-0.149 3.13 0.493 4.265 0.78 1.339-0.8 2.562-1.486 3.141-1.798-1.396-1.033-4.008-2.962-4.841-3.55-0.799-0.565 0.010-0.768 0.010-0.768 0.368-0.099 1.162-0.228 1.562-0.144 2.721 0.569 7.263 2.071 7.611 2.186 0.832-0.436 2.128-1.092 2.922-1.465 2.075-0.974 4.327-0.037 4.486 0.305z"
                ></path>
              </svg>
              <span>Flight</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <svg
                class="side-nav__icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <title>key</title>
                <path
                  d="M17.691 4.725c-0.503-2.977-3.22-4.967-6.069-4.441s-5.256 2.816-4.753 5.795c0.107 0.641 0.408 1.644 0.763 2.365l-5.175 7.723c-0.191 0.285-0.299 0.799-0.242 1.141l0.333 1.971c0.058 0.342 0.372 0.572 0.7 0.514l1.516-0.281c0.328-0.059 0.744-0.348 0.924-0.639l2.047-3.311 0.018-0.022 1.386-0.256 2.39-3.879c0.785 0.139 1.912 0.092 2.578-0.031 2.848-0.526 4.087-3.67 3.584-6.649zM15.166 6.252c-0.784 1.17-1.584 0.346-2.703-0.475-1.119-0.818-2.135-1.322-1.352-2.492s2.326-1.455 3.447-0.635c1.12 0.819 1.391 2.432 0.608 3.602z"
                ></path>
              </svg>
              <span> rent</span>
            </a>
          </li>
          <li class="side-nav__item">
            <a href="#" class="side-nav__link">
              <svg
                class="side-nav__icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
              >
                <title>map</title>
                <path
                  d="M19.447 3.718l-6-3c-0.281-0.141-0.613-0.141-0.895 0l-5.63 2.815-5.606-1.869c-0.306-0.102-0.64-0.051-0.901 0.138s-0.415 0.49-0.415 0.811v13.001c0 0.379 0.214 0.725 0.553 0.894l6 3c0.141 0.070 0.294 0.106 0.447 0.106s0.307-0.035 0.447-0.106l5.63-2.814 5.606 1.869c0.305 0.1 0.64 0.049 0.901-0.139s0.415-0.49 0.415-0.81v-13.002c0.001-0.379-0.213-0.725-0.552-0.894zM8 5.231l4-2v11.763l-4 2v-11.763zM2 4l4 1.333v11.661l-4-2v-10.994zM18 16.227l-4-1.334v-11.662l4 2v10.996z"
                ></path>
              </svg>

              <span>Tours</span>
            </a>
          </li>

          <li class="side-nav__item"></li>
        </ul>
        <div class="legal">
          &copy; 2020 by microbi. All rigths reserved
        </div>
      </nav>

      <main class="hotel-view">
        <div class="gallery">
          <div v-for="img in images" :key="img.images">
            <img :src="img.photo" class="gallery__photo" />
          </div>
        </div>
        <div class="overview">
          <h1 class="overview__heading">
            Hotel Las Palmas
          </h1>
          <div class="overview__stars">
            <svg
              class="overview__icon-star"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
            >
              <title>star</title>
              <path
                d="M10 1.3l2.388 6.722h6.412l-5.232 3.948 1.871 6.928-5.439-4.154-5.438 4.154 1.87-6.928-5.233-3.948h6.412l2.389-6.722z"
              ></path>
            </svg>
            <svg
              class="overview__icon-star"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
            >
              <title>star</title>
              <path
                d="M10 1.3l2.388 6.722h6.412l-5.232 3.948 1.871 6.928-5.439-4.154-5.438 4.154 1.87-6.928-5.233-3.948h6.412l2.389-6.722z"
              ></path>
            </svg>
            <svg
              class="overview__icon-star"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
            >
              <title>star</title>
              <path
                d="M10 1.3l2.388 6.722h6.412l-5.232 3.948 1.871 6.928-5.439-4.154-5.438 4.154 1.87-6.928-5.233-3.948h6.412l2.389-6.722z"
              ></path>
            </svg>
            <svg
              class="overview__icon-star"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
            >
              <title>star</title>
              <path
                d="M10 1.3l2.388 6.722h6.412l-5.232 3.948 1.871 6.928-5.439-4.154-5.438 4.154 1.87-6.928-5.233-3.948h6.412l2.389-6.722z"
              ></path>
            </svg>
            <svg
              class="overview__icon-star"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
            >
              <title>star</title>
              <path
                d="M10 1.3l2.388 6.722h6.412l-5.232 3.948 1.871 6.928-5.439-4.154-5.438 4.154 1.87-6.928-5.233-3.948h6.412l2.389-6.722z"
              ></path>
            </svg>
          </div>

          <div class="overview__location">
            <svg
              class="overview__icon-location"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
            >
              <title>location-pin</title>
              <path
                d="M10 2.009c-2.762 0-5 2.229-5 4.99 0 4.774 5 11 5 11s5-6.227 5-11c0-2.76-2.238-4.99-5-4.99zM10 9.76c-1.492 0-2.7-1.209-2.7-2.7s1.208-2.7 2.7-2.7c1.49 0 2.699 1.209 2.699 2.7s-1.209 2.7-2.699 2.7z"
              ></path>
            </svg>
            <button class="btn-inline">
              Albufeira, Portugal
            </button>
          </div>
          <div class="overview__rating">
            <div class="overview__rating-average">8.5</div>
            <div class="overview__rating-count">429 vote</div>
          </div>
        </div>
        <hotels-details></hotels-details>
        <select-button></select-button>
       
      </main>
    </div>
     
  </div>
</template>
<script>
import HotelsDetails from "../components/details/HotelsDetails.vue";
import SelectButton from '../components/ul/SelectButton';
export default {
  components: { HotelsDetails,
               SelectButton },
  data() {
    return {
      images: [
        {
          photo:
            "https://images.unsplash.com/photo-1498503182468-3b51cbb6cb24?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjJ8fGhvdGVsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60",
        },
        {
          photo:
            "https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fGhvdGVsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60",
        },
        {
          photo:
            "https://images.unsplash.com/photo-1495754149474-e54c07932677?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fGhvdGVsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.content {
  display: flex;
   @media only screen and (max-width:56.25em) {
    flex-direction: column;

}
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em;
}

//side nav
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width:56.25em){
    margin: 0;
    display: flex;
  }
  

  &__item {
    position: relative;
    &:not(last-child) {
      margin-bottom: 0.5rem;
      @media only screen and (max-width:56.25em) {
    
       margin: 0;
     }
       
    }
    @media only screen and (max-width:56.25em) {
    
       flex:1;
      
     }
    
  }
  &__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);

    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    border-radius: 50px;
  }
  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    position: relative;

    padding: 1.5rem 3rem;
    z-index: 10;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; ///boja na parrent element
  }
}
.legal {
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
   @media only screen and (max-width:56.25em) {
      display: none;
  

}
 
}
.gallery {
  display: flex;
  &__photo {
    width: 100%;
    display: block;
  }
}
//hotel overview
.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    flex: 1;
    font-size: 1.4rem;
    display: flex;
    vertical-align: center;
  }
  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: white;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    align-items: center;
    justify-self: start;
    flex-direction: column;
  }

  &__rating-average {
    font-size: 2.29rem;
    font-weight: 300;
    padding-top: 0.3em;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  &__stars {
    flex: 4;
  }
  ///btn
}
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--colo-grey-dark-1);
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      box-shadow: none;
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    }
    100% {
      transform: scale(1.05);
      box-shadow: none;
    }
  }
}
</style>
