<template>
    <div>
         <div class="cta">
        <h2 class="cta__book-now">
            Good news! We have 4 free rooms for your selected dates

        </h2>
        <button class="btn">
            <span class="btn__visible">
               Book now 
            </span>
            <span class="btn__invisible">
                Only 4 rooms left
            </span>
           
        </button>
    </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
     .cta {
         padding:3.5rem;
         text-align:center;

         &__book-now {
             text-transform: uppercase;
             font-size:2rem;
             font-weight:300;
             margin-bottom: 2.5rem;

         }

     }
     .btn{
         font-size:1.5rem;
         border: none;
         border-radius:100px;
         text-transform:uppercase;
         background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
         color: white;
         position: relative;
         overflow:hidden;
         outline: none;


         & > * {
              display:inline-block;
              padding: 2rem 7.5rem;
              height:100%;
              width:100%;
                transition: all .2s;
                outline:none;

         }


         &__visible {
             padding:2rem 7.5rem;

         }

         &__invisible {
             display: inline-block;
             position: absolute;
             left:0;
             top: -100%;
             padding:2rem 0;
            
           
         }
         &:hover &__visible {
            transform: translateY(100%);
         }

           &:hover  &__invisible {
                 top:0;
                

             }

             &:focus {
                
             }

         }
     
</style>