b<template>
  <div>
    <div class="header">
      <img src="/image/favicon.png" class="logo" />
      <form action="#" class="search">
        <input type="text" placeholder="Search hotels" class="search_input" />
        <button class="search_button">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            class="user-nav_icon"
          >
            <title>magnifying-glass</title>
            <path
              d="M17.545 15.467l-3.779-3.779c0.57-0.935 0.898-2.035 0.898-3.21 0-3.417-2.961-6.377-6.378-6.377s-6.186 2.769-6.186 6.186c0 3.416 2.961 6.377 6.377 6.377 1.137 0 2.2-0.309 3.115-0.844l3.799 3.801c0.372 0.371 0.975 0.371 1.346 0l0.943-0.943c0.371-0.371 0.236-0.84-0.135-1.211zM4.004 8.287c0-2.366 1.917-4.283 4.282-4.283s4.474 2.107 4.474 4.474c0 2.365-1.918 4.283-4.283 4.283s-4.473-2.109-4.473-4.474z"
            ></path>
          </svg>
        </button>
      </form>

      <nav class="user-nav">
        <div class="user-nav__icon-box">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            class="user-nav__icon"
          >
            <title>bookmark</title>
            <path
              d="M14 2v17l-4-4-4 4v-17c0-0.553 0.585-1.020 1-1h6c0.689-0.020 1 0.447 1 1z"
            ></path>
          </svg>
        </div>
        <div class="user-nav__icon-box">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            class="user-nav__icon"
          >
            <title>chat</title>
            <path
              d="M5.8 12.2v-6.2h-3.8c-1.1 0-2 0.9-2 2v6c0 1.1 0.9 2 2 2h1v3l3-3h5c1.1 0 2-0.9 2-2v-1.82c-0.064 0.014-0.132 0.021-0.2 0.021l-7-0.001zM18 1h-9c-1.1 0-2 0.9-2 2v8h7l3 3v-3h1c1.1 0 2-0.899 2-2v-6c0-1.1-0.9-2-2-2z"
            ></path>
          </svg>
        </div>
        <div class="user-nav_user">
          <img
            src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt=""
            class="user-nav__user-photo"
          />
          <span class="user_nav__user-name">Aleksandar</span>
        </div>
      </nav>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.header {
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

/////////////////////////////////////////////////////////////////////
//logo
.logo {
  height: 5rem;
  margin-left: 3rem;
}
//search box
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.search_button {
  border: none;
  background-color: var(--color-grey-light-2);
  &:focus {
    outline: none;
  }
}

//user nav
.user-nav {
  display: flex;
  align-items: center;

  align-self: stretch;
  height: 10vh;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }
  &__icon {
    fill: var(--color-grey-dark-2);
  }

  &__user-photo {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 50%;
    margin-right: 1em;
  }
}

input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  color: inherit;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.5s;
  margin-right: -3.5rem;

  &:focus {
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-2);
    &::-webkit-input-placeholder {
      font-weight: 300;
      color: var(--color-grey-light-4);
    }
  }
}
</style>
<script>
export default {};
</script>
